<table width="98%" align="center" border="0">
<tbody>
<tr>
<td valign="bottom"><hr style="height: 1px" color="#cccccc" />
</td>
</tr>
<tr>
<td style="font-size: 11px; line-height: 180%; font-family: Tahoma, Arial" valign="bottom" align="center">Powered by <strong>CWBBS</strong> <strong style="color: #ff9900">{$Global.version}</strong>&nbsp; @ 2005-2007&nbsp;<a style="font-size: 11px; font-family: Tahoma, Arial" target="_blank" href="http://www.cloudwebsoft.com">Cloud Web Soft</a>&nbsp;&nbsp;Gzip enabled&nbsp;&nbsp;<a href="/forum/wap/index.jsp">wap2.0</a> <br />
{$Global.contact}&nbsp;&nbsp;Email:<a href="mailto:{$Global.email}">{$Global.email}</a><br />
<a href="http://www.miibeian.gov.cn">{$Global.icp}</a></td>
</tr>
</tbody>
</table>