/* CSS Document */
/*-------General Starts-------*/
body {
	margin:0;
	padding:0;
	font:normal 12px/18px Arial, Helvetica, sans-serif;
	color:#07232F;
	background:url(images/main_bg.gif) repeat-x 0 0 #185F99;
}
td, ul, li, p, h1, h2, h4, h5, form, input{
	padding:0;
	margin:0;
}
img{
	padding:0;
	margin:0;
	border:none;
	line-height:0px;
	
}
ul{
	list-style-type:none;
	padding:0;
	margin:0;
}
.spacer{ 
	line-height:0; 
	font-size:0; 
	clear:both;
}
h4{
	font:normal 24px/26px "ו", Arial, Helvetica, sans-serif;
	color:#B30F18;
	background-color:inherit;
}
p.more{
	margin:0px;
}
p.more a{
	font:bold 11px/13px Arial, Helvetica, sans-serif;
	color:#F28E0F;
	background-color:inherit;
	text-transform:uppercase;
	text-decoration:none;
}
p.more a:hover{
	text-decoration:underline;
}
/*-------General Ends-------*/
/*-----------------------HEADER STARTS------------------------------*/
.header_bg{
	background:url(images/header_bg.jpg) no-repeat 0 0;
	line-height:0px;
	
	padding:28px 0 0 0;
}
.header_left{
	width:550px;
	padding:0 0 13px 0;
	line-height:0px;
}
.header_right{
	width:311px;
	padding:0 0 42px 0;
}
/*--------FORM STARTS--------*/
.header_right form {
	margin:0 0 0 0;
	float:right;
}
.header_right form input.textbox{
	margin:0 5px 9px 0;
	width:187px;
	height:18px;
	border:none;
	font:normal 10px/12px Arial, Helvetica, sans-serif;
	background-color:#FBFDFE;
	float:left;
	color:#0A5D9F;
	padding:2px 0 0 10px;
}
.header_right form label{
	font:bold 12px/22px Arial, Helvetica, sans-serif;
	color:#000;
	background-color:inherit;
	padding:0 0 8px 26px;
	background:url(images/icon_lens.gif) no-repeat 0 0;
	float:left;
	margin-right:8px;
}
.header_right form input.bttn_search{
	width:32px;
	height:20px;
	border:none;
	outline:none;
	float:left;
	background-color:#EF8400;
	font:bold 12px/20px Arial, Helvetica, sans-serif;
	color:#fff;
	text-transform:uppercase;
	cursor:pointer;
}
/*--------FORM ENDS--------*/
/*----------NAVIGATION STARTS--------*/
.header_right ul{
	margin:42px 0 0 0;
	float:right;
	width:190px;
	background:url(images/divider_nav.gif) repeat-x 0 100%;
}
.header_right ul li{
	background:url(images/divider_nav.gif) repeat-x 0 0;
	line-height:0px;
	
	text-align:center;
}
.header_right ul li.active{
	font:bold 12px/23px Arial, Helvetica, sans-serif;
	color:#A41709;
	background-color:inherit;
}
.header_right ul li a{
	font:bold 12px/25px Arial, Helvetica, sans-serif;
	text-decoration:none;
	color:#fff;
	background-color:inherit;
}
.header_right ul li a:hover{
	text-decoration:none;
	color:#A41709;
	background-color:inherit;
}
/*-------------NAVIGATION ENDS------------*/
/*-----------------------HEADER ENDS------------------------------*/
/*-----------------------BODY STARTS------------------------------*/
.body_bg{
	background:url(images/body_bg.gif) repeat-y 0 0;
	line-height:0px;
	
}
.body_topbg{
	background:url(images/top_corner.gif) repeat-x 0 0;
	line-height:0px;
	
}
.body_topbg  p.left_bg{
	background:url(images/left_crnr.gif) no-repeat 0 0;
	line-height:0px;
	
	height:17px;
	width:30px;
	float:left;
}
.body_topbg  p.right_bg{
	background:url(images/rght_crnr.gif) no-repeat 100% 0;
	line-height:0px;
	
	height:17px;
	width:30px;
	float:right;
}
.body_pannel{
	padding:28px 0 30px 0;
}
.body_pannel p{
	font:normal 12px/18px Arial, Helvetica, sans-serif;
	text-decoration:none;
	color:#07232F;
	background-color:inherit;
}
.body_pannel p span{
	font:bold 12px/18px Arial, Helvetica, sans-serif;
	text-decoration:none;
	color:#F28E0F;
	background-color:inherit;
}
/*-----------BODY-LEFT STARTS----------------*/
.body_left{
	width:556px;
}
.body_left img{
	line-height:0px;
	display:block;
	float:left;
}
.body_left img.img_fam{
	margin:11px 0 0 0;
	border:3px solid #FFFFFF;
}
h4.fam_portal{
	margin:0 0 8px 0;
}
/*-----LINK STARTS----*/
.body_left ul.family{
	margin:20px 0 23px 0;
	background:url(images/divider.gif) repeat-x 0 0;
	width:390px;
	float:right;
}
.body_left ul.family li{
	background:url(images/divider.gif) repeat-x 0 100%;
	line-height:0px;
	padding:0 0 1px;
}
.body_left ul.family li span{
	background:url(images/icon_tick.gif) no-repeat 5% 50%;
	display:block;
	padding-left:40px;
}
.body_left ul.family li span a{
	font:normal 11px/24px Arial, Helvetica, sans-serif;
	color:#F28E0F;
	text-decoration:none;
	background-color:inherit;
}
.body_left ul.family li span a:hover{
	display:block;
	color:#04569A;
	background-color:inherit;
	text-decoration:none;
}

.body_left ul {
margin-left:10px;
margin-right:10px;
}

.body_left li {
	margin:0; padding:0;
	line-height: 2;
	list-style-type: none;
	list-style-position: inside;
	border-bottom:#999 1px dashed;
	background:url(images/dot.gif) 5px 0.8em no-repeat;
}

.body_left li a:link,a:visited {
	text-decoration: none;
	font-size: 12px;
}

.body_left li a:hover {
	font-size: 12px;
	color: #FF6600;
	text-decoration: underline;
}

.body_left img { 
max-width: 500px; width:expression(this.width > 500 ? "500px" : this.width)
}

/*-----LINK ENDS----*/
.ftrd_left{
	width:318px;
	background:url(images/divider_bod.gif) no-repeat 100% 0;
	line-height:0px;
	
}
.ftrd_left img{
	margin:0 11px 5px 0;
	border:none;
}
.ftrd_left p.date_content{
	width:230px;
	float:right;
}
.ftrd_left p.more{
	margin:4px 0 0;
}
.ftrd_right{
	width:223px;
	padding:0 0 0 15px;
}
.ftrd_right p.ftrd_content{
	background:url(images/icon_tick.gif) no-repeat 0 10%;
	padding-left:17px;
	margin:6px 0 0 ;
}
.ftrd_right p.more{
	margin:12px 0 0 18px;
}
h4.photo_gal{
 	padding:30px 0 16px;
}
h4.ftrd_artcl{
 	padding:0 0 18px;
}
h4.advice{
 	padding:0 0 10px;
}
.gal_left{
	background-color:#CDD28A;
	width:18px;
	color:#000;
}
.gal_bg{
	padding:0 7px 0 6px;
}
.gal_right{
	background-color:#CDD28A;
	width:18px;
	color:#000;
}

.gal_bg a.img_gallery {
	border:3px solid #EFFFFF;
	line-height:0px;
	
	display:block;
	text-decoration:none;
	margin-right:8px;
	float:left;
}
.gal_bg a.img_gallery01 {
	border:3px solid #EFFFFF;
	line-height:0px;
	
	display:block;
	text-decoration:none;
	margin:0px;
	float:left;
}
.gal_bg a.img_gallery:hover, .gal_bg a.img_gallery01:hover{
	border:3px solid #CDD28A;
	display:block;
	text-decoration:none;
}
/*-----------BODY-LEFT ENDS----------------*/
/*-----------BODY-RIGHT STARTS----------------*/
.body_right{
	width:252px;
	padding-left:30px;
}
.body_right img{
	line-height:0px;
	
	display:block;
	border:3px solid #CDD28A;
	margin:20px 0 11px 0;
}
.banner{
	line-height:0px;
	
	width:254px;
	padding:133px 0 5px 8px;
	background:url(images/banner_doc.jpg) no-repeat 0 0;
}
.banner a{
	font:bold 12px/14px Arial, Helvetica, sans-serif;
	color:#F28E0F;
	text-decoration:underline;
	background-color:inherit;
}
.banner a:hover{
	text-decoration:none;
}
.family_bg{
	padding:0 0 28px 0;
}
.body_right p.more{
	margin:5px 0 0 0;
}
.news_letter{
	background:url(images/news_letter.jpg) no-repeat 100% 0 #E1E6A5;
	border:2px solid #CDD28A;
	padding:8px 0 13px 13px;
	width:237px;
	color:#07232F;
}
.news_padding{
	padding:30px 0 0;
}
.news_letter form{
	width:237px;
}
.news_letter form label{
	font:normal 11px/14px Arial, Helvetica, sans-serif;
	color:#07232F;
	background-color:inherit;
}
h4.news{
	margin-bottom:5px;
}
.news_letter form input.textbox_news{
	font:normal 10px/12px Arial, Helvetica, sans-serif;
	color:#07232F;
	width:224px;
	height:20px;
	border:none;
	background-color:#fff;
	float:left;
	margin:7px 0 0;
}

.news_letter form input.bttn_sbmt{
	font:bold 11px/20px Arial, Helvetica, sans-serif;
	color:#fff;
	text-align:center;
	float:left;
	width:52px;
	height:20px;
	border:none;
	outline:none;
	margin:8px 0 0;
	background-color:#F28E0F;
	cursor:pointer;
}

/*-----------BODY-RIGHT ENDS----------------*/
/*-----------------------BODY ENDS------------------------------*/

/*-----------------------FOOTER STARTS------------------------------*/
.footer{
	background:url(images/footer_bg.jpg) no-repeat 50% 0;
	line-height:0px;
	
	padding-bottom:34px;
}
.footer ul.footer_link{
	font:bold 11px/26px Arial, Helvetica, sans-serif;
	color:#F28E0F;
	background-color:inherit;
	width:390px;
	margin:0 auto;
}
.footer ul.footer_link li{
	padding:0 5px;
	float:left;
	font:bold 11px/26px Arial, Helvetica, sans-serif;
	color:#F28E0F;
	background-color:inherit;
}
.footer ul.footer_link a{
	font:bold 11px/26px Arial, Helvetica, sans-serif;
	color:#F28E0F;
	background-color:inherit;
	text-decoration:none;
}
.footer ul.footer_link a:hover{
	text-decoration:none;
	background-color:inherit;
	color:#025599;
}
.footer p{
	color:#025599;
	font:normal 11px/16px Arial, Helvetica, sans-serif;
	background-color:inherit;
	text-decoration:none;
	text-align:center;
	padding:12px 0 0;
}
.footer a{
	color:#F28E0F;
	font:normal 11px/16px Arial, Helvetica, sans-serif;
	background-color:inherit;
	text-decoration:none;
}
.footer a:hover{
	text-decoration:underline;
}

#att {
margin-top:20px;
}
#att img {
margin-top:-10px;
}
